{
    "ProjName":"{{.ProjName}}",
    "NodeType":"example",
    "ServerID":{{.ServerID}},
    "ZoneID":{{.GSCode}}{{.MultiServerID}},
    "LogLevel":{{.LogLevel}},
    "ServerDataDir": "../serverdata/",
    "ServerConfigDir": "../config/",
    "ClientTimeout":{{.ClientTimeout}},
    "MaxClient":{{.MaxClient}},
    "SelfIP":"{{.SelfIP}}",
    "PortBegin":{{.PortBegin}},
    "MaxPortRange":{{.MaxPortRange}}
}
